NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_c29saWQtdHVydGxlLTg3LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_KUhqFVjHBjIknIwpWsyqgZ1s3LwHVDuKERQXmyBVFf
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
RESEND_API_KEY=re_JC5G8AkU_8QMbsUbwJPUhS8cbkt7to1ae
GEMINI_API_KEY=AIzaSyBN8QqW7WFZUZRJzQt-YLwlGpl885dmqzU
PERSONAL_EMAIL=
DATABASE_URL=
SHADOW_DATABASE_URL=